<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
	<!-- 老师 -->
	<bean id="teacherDao" class="org.ssh.dao.TeacherDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="teacherService" class="org.ssh.service.TeacherService">
		<property name="teacherDao" ref="teacherDao"></property>
	</bean>


	<bean id="TeacherAction" class="org.ssh.actions.TeacherAction"
		scope="prototype">
		<property name="teacherService" ref="teacherService"></property>
	</bean>
	
	
	


</beans>